# Trash
.DS_Store
Thumbs.db
.claude
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
.sops.yaml
# Private
.private
.bin
.zip
# Ansible
.venv*
# Taskfile
.task
# Brew
Brewfile.lock.json
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
*.gz
# testing
test/
