#!opensips

socket=udp:0.0.0.0:5060
stderror_enabled=yes
syslog_enabled=yes

loadmodule "signaling.so"

route {
    # Reject REGISTERs
    if (is_method("REGISTER")) {
        sl_send_reply("403", "Forbidden");
        exit;
    }

    # Relay all other requests
    if (!forward()) {
        sl_reply_error();
    }
}
